{% extends 'shopping/base.html' %}
{% block aboutactive %}active{% endblock aboutactive%}
{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome Cart!</h1>
      <p>My Awesome Cart Pvt Ltd. is an Indian electronic commerce company based in Bengaluru, India. 

In August 2018, U.S.-based retail chain Walmart acquired a 77% controlling stake in Flipkart for US$16 billion, valuing it at $22 billion.</p>
      <p><a class="btn btn-danger btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Shipping</h2>
        <p>We at SriShop offer the best warranties, have the best reputation for providing affordable prices, quick shipping and excellent customer service.</p>
        <p><a class="btn btn-warning" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Quality</h2>
        <p>It will be given a first priority for the customer use our website for buying products.</p>
        <p><a class="btn btn-warning" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Deals & Discounts</h2>
        <p></p> 
        <p><a class="btn btn-warning" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
